footer {
    width: 100%;
    margin: 0 auto;
    list-style: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-footer {
    width: 75%;
    margin:auto;
    width: calc(3vw*26 + .1em);
    height: calc(3vw * 2 + .1em);
    background-color: #000000;
    align-self: center;
    text-align: center;
    margin-bottom:auto;
}

p {
    color: #20a80e;
    text-shadow: 1px 0 1px #ffffff;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }